{# testing, remove test_ from var names #}
{% set test_latest_version_available="4.0.0" %}
{% set test_piwikUrl='http://demo.piwik.org/' %}
{% set isPiwikDemo %}{{ piwikUrl == 'http://demo.piwik.org/' or piwikUrl == 'https://demo.piwik.org/' }}{% endset %}

{% set updateCheck %}
    <span id="updateCheckLinkContainer">
                {{ 'CoreHome_CheckForUpdates'|translate }}
        <span class="icon icon-fixed icon-reload"></span>
    </span>
{% endset %}


<div style="clear:right"></div>
